<h3><__trans phrase="Content Data" /></h3>

<mtapp:setting
    id="setting_content_data_authored_on"
    label="<__trans phrase='authored on'>">
    <input type="text" class="text form-control" name="setting_content_data_authored_on" id="setting_content_data_authored_on" value="<mt:var name="setting_content_data_authored_on" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="setting_content_data_created_on"
    label="<__trans phrase='Created On'>">
    <input type="text" class="text form-control" name="setting_content_data_created_on" id="setting_content_data_created_on" value="<mt:var name="setting_content_data_created_on" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="setting_content_data_unpublished_on"
    label="<__trans phrase='Unpublish Date'>">
    <input type="text" class="text form-control" name="setting_content_data_unpublished_on" id="setting_content_data_unpublished_on" value="<mt:var name="setting_content_data_unpublished_on" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="setting_content_data_modified_on"
    label="<__trans phrase='modified on'>">
    <input type="text" class="text form-control" name="setting_content_data_modified_on" id="setting_content_data_modified_on" value="<mt:var name="setting_content_data_modified_on" escape="html">" />
</mtapp:setting>

<h3><__trans phrase="Entry" /></h3>

<mtapp:setting
    id="setting_entry_authored_on"
    label="<__trans phrase='authored on'>">
    <input type="text" class="text form-control" name="setting_entry_authored_on" id="setting_entry_authored_on" value="<mt:var name="setting_entry_authored_on" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="setting_entry_created_on"
    label="<__trans phrase='Created On'>">
    <input type="text" class="text form-control" name="setting_entry_created_on" id="setting_entry_created_on" value="<mt:var name="setting_entry_created_on" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="setting_entry_unpublished_on"
    label="<__trans phrase='Unpublish Date'>">
    <input type="text" class="text form-control" name="setting_entry_unpublished_on" id="setting_entry_unpublished_on" value="<mt:var name="setting_entry_unpublished_on" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="setting_entry_modified_on"
    label="<__trans phrase='modified on'>">
    <input type="text" class="text form-control" name="setting_entry_modified_on" id="setting_entry_modified_on" value="<mt:var name="setting_entry_modified_on" escape="html">" />
</mtapp:setting>

<h3><__trans phrase="Page" /></h3>

<mtapp:setting
    id="setting_page_authored_on"
    label="<__trans phrase='authored on'>">
    <input type="text" class="text form-control" name="setting_page_authored_on" id="setting_page_authored_on" value="<mt:var name="setting_page_authored_on" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="setting_page_created_on"
    label="<__trans phrase='Created On'>">
    <input type="text" class="text form-control" name="setting_page_created_on" id="setting_page_created_on" value="<mt:var name="setting_page_created_on" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="setting_page_unpublished_on"
    label="<__trans phrase='Unpublish Date'>">
    <input type="text" class="text form-control" name="setting_page_unpublished_on" id="setting_page_unpublished_on" value="<mt:var name="setting_page_unpublished_on" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="setting_page_modified_on"
    label="<__trans phrase='modified on'>">
    <input type="text" class="text form-control" name="setting_page_modified_on" id="setting_page_modified_on" value="<mt:var name="setting_page_modified_on" escape="html">" />
</mtapp:setting>

<h3><__trans phrase="Asset" /></h3>

<mtapp:setting
    id="setting_asset_created_on"
    label="<__trans phrase='Created On'>">
    <input type="text" class="text form-control" name="setting_asset_created_on" id="setting_asset_created_on" value="<mt:var name="setting_asset_created_on" escape="html">" />
</mtapp:setting>

<h3><__trans phrase="Log" /></h3>

<mtapp:setting
    id="setting_log_created_on"
    label="<__trans phrase='Created On'>">
    <input type="text" class="text form-control" name="setting_log_created_on" id="setting_log_created_on" value="<mt:var name="setting_log_created_on" escape="html">" />
</mtapp:setting>
